* {
    font-size: 13px;
}
body {
    background: url('img/bg.jpg');
}
.bangla-font {
    font-size: 12px !important;
}
#logo-img {
    width: 150px;
}
#navbar ul li {
    margin-left: 10px;
    background-color: green;
    border-radius: 6px;
    box-shadow: 1px 2px 4px rgba(108, 201, 181, 0.72);
}
#navbar ul li:hover {
    box-shadow:  1px 2px 4px rgba(92, 247, 213, 0.763);
}
#navbar ul li a {
    font-size: 13px;
    padding: 6px 10px;
}
#navbar ul li a:hover {
    color: rgb(204, 211, 216);
}
#home-img {
    background: url('img/soil.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}
#home-img .dark-overlay {
    background: rgba(0,0,0,0.2);
    min-height: 400px;
}
#home-searchBox {
    font-size: 16px;
    border: green 1px solid;
    background-color: none;
    padding: 7px 10px;
}
#home-img .fa-search {
    font-size: 18px;
    padding-left: 4px;
    padding-right: 4px;
}
#sm-cover-img {
    background: url('img/soil.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 179px;
}
#sm-cover-img .dark-overlay {
    background: rgba(0,0,0,0.15);
    min-height: 179px;
}
.fa-leaf {
    color: green;
}
.card a {
    text-decoration: none;
    color: black;
}
#navbar .dropdown-toggle::after {
    transition: transform 0.15s linear; 
} 
.show.dropdown .dropdown-toggle::after {
   transform: translateY(3px);
}
#navbar .dropdown-menu {
   margin-top: 0;
}
#navbar .dropdown-menu a {
    font-size: 14px;
    padding: 8px 5px 8px 10px !important;
    margin: 0px;
    color: dark;
}
#navbar .dropdown-menu a:hover {
    color: white !important;
    background-color: #28a745;
    padding-left: 15px !important;
    padding-right: 0px; 
}
#navbar .dropdown-menu a .fa {
    color: green !important;
    font-weight: bold;
}
       /*  Breaking News Ticker Section  */
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#news-ticker li a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}
.acme-news-ticker-label {
    background: #dc3545;
    padding: 8px 6px 7px 9px;
    width: auto;
    float: left;
    line-height: normal;
    height: auto;
    color: #fff; 
}
.acme-news-ticker-box {
    width: auto;
    height: 32px;
    padding: 5px;
    padding-top: 8px;
    overflow: hidden;
    line-height: normal;
    border: 1px solid #dc3545;
}
.acme-news-ticker-box ul {
    width: auto;
    height: auto !important;
    list-style-type: none !important;
    padding: 0;
    margin: 0; 
}
.acme-news-ticker-box ul li {
    width: 100%;
    height: auto;
    padding-left: 5px;
    margin: 0;
}
.acme-news-ticker-box ul li a {
    color: #dddddf;
    text-decoration: none; 
}
        /*  Article Section  */
#home-article h4 {
    color: #317e8a;
    
}
#home-article h4:hover {
    color: #17a2b8;
}
        /*  Gallery Section  */
#gallery-section img {
    width: 100%;
    height: 300px;
}
#gallery-img-size img {
    width: 100%;
    height: 200px;
}
        /*  Popular Section  */
#popular-article img {
    width: 130px;
    height: 80px;
}
#popular-article-post a {
    text-decoration: none;
    color: black;
}
#soil-science-article a img {
    width: 250px;
    height: 150px;
    margin: 0 auto;
}
#environmental-science-article a img {
    width: 250px;
    height: 150px;
    margin: 0 auto;
}
#popular-article p:hover,#soil-science-article p:hover,#environmental-science-article p:hover {
    color: rgb(255, 112, 112);
}
        /*  Environmental News  */
#environmental-news a {
    text-decoration: none;
}
#environmental-news i {
    color: black;
}
        /*  Scroll Top  */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 15px;
    display: none;
    opacity: 1;
}
#opinion-section {
    background-color: rgba(151, 144, 144, 0);
}
                        /* calendar Section  */
#calendar-week {
    list-style-type: none;
    background-color: #ddd;
    text-align: justify;
    width: 100%;
    margin: 0;
    padding: 0;
}
#calendar-week li {
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    margin: 0px !important;
    width: 13%;
}
#calendar-days {
    list-style-type: none;
    background: rgb(231, 229, 229);
    width: 100%;
    margin: 0;
    padding: 0;
}
#calendar-days li {
    display: inline-block;
    width: 13%;
    text-align: center;
    margin: 5px 0px;
    color: #777;
    padding: 4px 0px;
}
#calendar-days li:hover {
        background-color: rgb(219, 218, 218);
}
.today {
    padding: 4px 0px;
    background: #ffc107;
    color: white !important;
}
                /*  Footer Section  */
.icon {
    font-size: 15px;
    width: 30px;
    padding: 7px 9px 7px 9px;    
}
.icon:hover {
    border-radius: 20px !important;
    opacity: 0.8;
    transition: .6s;
}
#footer-part a {
    text-decoration: none;
    color: rgb(206, 211, 212);
    margin-right: 10px;
}
#footer-part a:hover {
    color: white;
}
        /*  HOME Page End  */
                    /*  Jenny equation Section  */
#article-title-section {
    background: url('img/article.cp.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
#jenny-equation p {
    font-size: 14px !important;
}
#jenny-equation img {
    width: 75%;
    height: auto; 
    margin: 0 auto;
}
#jenny-post-list li {
    font-size: 14px;
}
.related-article, .in-science {
    cursor: pointer;
}
                    /*  reference-author  */
.reference-author-text-color {
    color: gray;
}
#reference-author-section a {
    text-decoration: none;
}
#previous-next-section {
    background-color: rgb(243, 243, 243);
    border-top: 1px solid;
}
#previous-next-section a {
    text-decoration: none;
    color: black;
}
#previous-next-section i {
    font-size: 17px;
}
#previous-next-section p:hover {
    color: #17a2b8;
}
            /*  gallery.html  */
#img-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
#gallery-img {
    position: relative;
}
#img-text {
    position: absolute;
    bottom: 0;
    left: 20%;
    opacity: 0;
    background-color: green;
    transition: 1.5s;
}
#img-card:hover #gallery-img {
    opacity: 0.7;
}
#img-card:hover #img-text {
    opacity: 1;
}
                    /*  Contact Us Section */
#contact-us-section {
    background-color: #14E5E7;
}
#contact-bgc {
    background-color: #A3EDED;
}
            /*  Media  */
@media only screen and (max-width: 767px) {
    #navbar ul li {
        width: 80%;
        margin: 0px auto;
        margin-top: 20px;
        background-color: green;
        border-radius: 8px;
        text-align: center;
    }
    #home-searchBox {
        font-size: 15px;
        padding: 5px 10px;
    }
    .fa-search {
        font-size: 18px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .acme-news-ticker-label {
        padding: 6px 0px 6px 7px !important;
    }
    .acme-news-ticker-box {
    height: 29px;
    padding: 0 !important;
    padding-top: 6px !important;
    }
    .acme-news-ticker-box ul li a {
    font-size: 11px !important; 
    }
    .back-to-top {
        right: 5px !important;
        bottom: 5px !important
    }
    #md-center {
        text-align: center !important;
    }
    #icon-md-center {
        text-align: center !important;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .icon {
        text-align: center !important;
        margin-left: 0px !important;
        margin-right: 3px !important;
    }
    .short-line {
        width: 85%;
    }
                    /*  Jenny equation Section  */
    #jenny-equation img {
        width: 95%;
        height: auto; 
        margin: 0 auto;
    }  
}
@media only screen and (max-width: 991px) {
    #gallery-section img {
        width: 100%;
        height: 220px;
    }
}
@media only screen and (max-width: 500px) {
    #gallery-section img {
        width: 100%;
        height: 160px;
    }
}
@media only screen and (min-width: 378px) {
    #search {
        width: 100px !important;
        padding-left: 8px !important;
        font-size: 15px;
    }
    #related-article-section img, #environmental-news img {
        width: 100%;
        height: 80px;
    }
}
@media only screen and (max-width: 960px) {
    #navbar ul li a {
        font-size: 12px;
        padding: 4px 7px;
    }
}
@media only screen and (min-width: 650px) {
    #logo-img {
        width: 180px;
    }
}
@media only screen and (min-width: 768px) {
    #logo-img {
        width: 200px;
    }
    #related-article-section img, #environmental-news img {
        width: 100%;
        height: 80px;
    }
}
@media only screen and (min-width: 992px) {
    #logo-img {
        width: 220px;
    }
}
@media only screen and (min-width: 1200px) {
    #related-article-section img, #environmental-news img {
        width: 100%;
        height: 100px;
    }
}
@media only screen and (min-width: 1425px) {
    #logo-img {
        width: 280px;
    }
}
@media only screen and (max-width: 300px) {
    #calander-weak li {
        width: 12%;
        padding-left: 3px;
    }
    #calander-days li {
        width: 12%;
        margin-bottom: 5px;
    }
    .today {
        padding: 3px;
    }
}